
<div class="row">
    <div class="col-md-4">
        <h2>20 numbers has longest length</h2>
        @if (ViewBag.NumbersWithLongestLength != null)
        {
            foreach (var item in ViewBag.NumbersWithLongestLength)
            {
                <div>
                    <span>Number: </span><span> @item.PrimaryNumber</span><br/>
                    <span>Current length: </span> <span>@item.LengthToPrevOccur</span> <br/>
                    <span>Average of previous lengths: </span> <span>@item.AvrOfPrevLengths</span> <br />
                    <span>Average of high lengths: </span> <span>@item.AvrOfHighs</span> <br />
                    <span>Average of medium lengths: </span> <span>@item.AvrOfMediums</span> <br />
                    <span>Average of low lengths: </span> <span>@item.AvrOfLows</span> <br />
                </div> 
            }
        }
        <form action="/home/GetNumbersWithLongestLength" method="GET">
            <input type="text" name="count" value="30" />
            <input type="submit" value="Get data" class="btn btn-primary" />
        </form>
        
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        
    </div>
</div>
